html { background-color:#000; font-family: prstart; min-width: 180px; min-height: 320px; }
body { margin:0; overflow: hidden; height: 100%; }
canvas { display: block; width: 100%; height: auto; background-color: #000000; }

#content { margin: 0 auto; display: flex; flex-direction: column; justify-content: center; }
.options { background-color: #fff; font-family: 'Roboto'; font-size: 14px; color: rgba(0, 0, 0, 0.64); padding: 32px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.options img { display: block; max-width: 64px; margin: auto auto 24px; }
.options a { display: block; text-align: center; text-decoration: none; color: inherit; }
.options .switch-input { display: none; }
.options .switch-label { box-sizing: border-box; position: relative; display: inline-block; cursor: pointer; font-weight: 500; text-align: left; padding: 16px 0 16px 44px; user-select: none; width: 100%; }
.options .switch-label:before, .switch-label:after { content: ""; position: absolute; margin: 0; outline: 0; top: 50%; transform: translate(0, -50%); transition: all 0.3s ease; }
.options .switch-label:before { left: 1px; width: 34px; height: 14px; background-color: #9E9E9E; border-radius: 8px; }
.options .switch-label:after { left: 0; width: 20px; height: 20px; background-color: #ededed; border-radius: 50%; box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); }
.options .switch-input:checked + .switch-label:before { background-color: #995fb3; }
.options .switch-input:checked + .switch-label:after { background-color: #c37ae5; transform: translate(80%, -50%); }
.options .md-btn { font-family: 'Roboto'; display: block; height: 36px; width: 100%; margin: 12px 0; padding: 6px 16px; text-align: center; touch-action: manipulation; cursor: pointer; user-select: none; border: 0; background: #c37ae5; color: #fff; outline: 0; text-transform: uppercase; }
.options .md-btn:hover { background: #995fb3; }
.options .material-icons { color: #dc265a; font-size: 16px; vertical-align: middle; animation: 1s ease-in-out throb infinite; } 

@font-face { font-family: prstart; src: url('../fonts/prstart.ttf'); }
@font-face { font-family: icons; src: url('../fonts/Boxel-Icons.ttf'); }
@font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); }

@keyframes throb { 
    0% { transform: scale(1); }  
	50% { transform: scale(1.25); } 
	100% { transform: scale(1); } 
}