body { text-align: center; }
section { 
    box-sizing: border-box; 
    display: table; 
    min-height: 640px;
    height: 100vh;
    overflow-x:hidden; 
    padding: 128px 5%;
    position: relative; 
    width: 100%;

    .material-icons { 
        font-size: 48px;
        padding: 36px 12px;
        vertical-align: middle;
    }
    .bottom {
        bottom: 24px;
        font-size: 16px;
        left: 0;
        line-height: 24px;
        padding: 0;
        position: absolute;
        right: 0;

        a, a:hover {
            background-color: transparent;
            color: #e3d4ad;
            font-size: inherit;
            
            &.btn {
                border: 2px solid #e3d4ad;
                padding: 0 12px;
                animation: 1s ease-in-out throb 3;

                &:hover { animation: initial; }
            }
            &.link {
                border-bottom: 2px solid #e3d4ad;
                border-radius: 0;
                padding: 0;
            }
        }
    }
    .dbacks-logo {
        max-width: 120px; 
        margin: auto;
    }
}
article { 
    display: table-cell; 
    vertical-align: middle; 
    padding: 24px;
	border: 2px solid #e3d4ad;
}
hgroup { 
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
}
h1 { 
    font-family: 'GothamHTF-Black'; 
    font-size: 64px; 
    margin: 0; 
}
p, p > a, p > a:hover { 
    color: inherit;
    font-family: 'GothamHTF-Light'; 
    font-size: 24px; 
    margin: 0 auto; 
    max-width: 780px; 
    padding: 24px 0 0;
}
a, a:hover, button { 
    border: none;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block; 
    font-family: 'GothamHTF-Light'; 
    font-size: 32px; 
    margin: 5% 0 0; 
    outline: none;
    padding: 24px 48px; 
    text-decoration: none; 

    .material-icons { padding: 0; font-size: 36px; }
}
img { 
    max-width: 100%;
    max-height: 480px; 
}
form {
    max-width: 480px;
    margin: 0 auto 48px;

    input {
        border: none;
        border-radius: 3px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        font-family: 'GothamHTF-Light'; 
        font-size: 18px; 
        margin: 24px 0 0; 
        outline: none;
        padding: 24px; 
        width: 100%;
    }
    button {
        font-size: 18px;
        margin: 24px 0 0;
        width: 100%;
    }
}
.style-one {
    color: #e3d4ad; 
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &:before { background-color: #a71930; z-index: -2; }
    &:after {
        background-image: url(../img/field.jpg);
        background-size: cover;
        background-blend-mode: multiply;
        background-color: #a71930;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
    a { 
        background-color: #f2f2f2;
        color: #a71930; 
    }
}
.style-two { 
    background-color: #f2f2f2;
    color: #a71930; 
    a.button, a.button:hover,
    button, button:hover {
        background-color: #a71930;
        color: #f2f2f2;
    }
}
.style-three { 
    background-color: #8ec23c; 
    color: #f2f2f2;
}
.style-four { 
    background-color: #f2f2f2; 
    color: #dd464c; 
}
.one-half { 
    display: inline-block; 
    margin: 24px 2.5% 0; 
    width: 30%; 
    vertical-align: top; 

    .material-icons { font-size: 24px; padding: 0; }
}
.one-third { 
    display: inline-block; 
    margin: 24px 1% 0; 
    width: 30%; 
    vertical-align: top; 

    .material-icons { font-size: 24px; padding: 0; }
}
.thumbnails {
    margin-top: 48px;
    a { 
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 2px 1px rgba(0,0,0,0.05);
        box-sizing: border-box;
        margin: 12px;
        max-width: 20%;
        padding: 12px; 
    }
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}
.modal { 
    .modal-content {
        .modal-body {
            background-color: #f2f2f2;
            color: #a71930; 
            padding: 32px;
        }
    }
    .close { margin: 0; }
}
.lity-iframe .lity-container { max-width: 480px; }
.lity-iframe-container { padding-top: 620px; }

.modal { text-align: center; overflow: hidden; }
.modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
.modal-content { border-radius: 0; border: none; box-shadow: 0 5px 15px rgba(0,0,0,0.15); }

@media(max-width:960px), screen and (max-height: 768px) and (orientation: landscape){ 
    
}
@media(max-width:800px){ 
    /* section { padding: 5% 5% 128px; } */
    a, a:hover { 
        font-size: 24px;
        margin-top: 48px;
        padding: 16px 24px; 
    }
    h1 { font-size: 36px; }
    .one-half {
        width: 100%;
        margin: 0 0 24px;
    }
    .one-third { 
        width: 100%; 
        margin: 0 0 24px; 
    }
    .thumbnails {
        a, a:hover { 
            max-width: 45%;
            padding: 6px; 
            margin: 6px;
        }
    }
}

@font-face {
    font-family: 'GothamHTF-Black';
    src: url('../fonts/GothamHTF-Black.eot');
    src: url('../fonts/GothamHTF-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-Black.woff') format('woff'),
         url('../fonts/GothamHTF-Black.ttf') format('truetype'),
         url('../fonts/GothamHTF-Black.svg') format('svg');
}
@font-face {
    font-family: 'GothamHTF-Light';
    src: url('../fonts/GothamHTF-Light.eot');
    src: url('../fonts/GothamHTF-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-Light.woff') format('woff'),
         url('../fonts/GothamHTF-Light.ttf') format('truetype'),
         url('../fonts/GothamHTF-Light.svg') format('svg');
}

@keyframes throb { 
    0% { transform: scale(1); }  
	50% { transform: scale(0.8); } 
	100% { transform: scale(1); } 
}